body {
    background-color: #23272A;
}

#piano {
    border-radius: 15px;
    background-color: #3f3f3f;
    width: 800px;
    height: 400px;
    display: block;
    margin-top: 260px;
    margin-left: auto;
    margin-right: auto;
}

#piano [id^='b'] {
    border-radius: 5px;
    display: inline-flex;
    background-color: white;
    width: 108px;
    height: 380px;
    margin-bottom: 10px;
    margin-top: 10px;
    box-shadow: 0px -25px #BCBDBF inset;
}

#b1 {
    margin-left: 10px;
}

#b7 {
    margin-right: 10px;
}

#piano [id^='p'] {
    display: inline;
    position: absolute;
    background-color: black;
    margin-left: -30px;
    margin-top: 10px;
    width: 54px;
    height: 180px;
    border-radius: 0px 0px 5px 5px;
}
