body {
    background-color: #23272A;
}

#piano {
    border-radius: 15px;
    background-color: #3f3f3f;
    width: 800px;
    height: 400px;
    display: block;
    margin-top: 260px;
    margin-left: auto;
    margin-right: auto;
}

#b1 {
    border-radius: 5px;
    display: inline-flex;
    background-color: white;
    width: 108px;
    height: 380px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    box-shadow: 0px -25px #BCBDBF inset;
}

#b2 {
    border-radius: 5px;
    display: inline-flex;
    background-color: white;
    width: 108px;
    height: 380px;
    margin-bottom: 10px;
    margin-top: 10px;
    box-shadow: 0px -25px #BCBDBF inset;
}

#b3 {
    border-radius: 5px;
    display: inline-flex;
    background-color: white;
    width: 108px;
    height: 380px;
    margin-bottom: 10px;
    margin-top: 10px;
    box-shadow: 0px -25px #BCBDBF inset;
}

#b4 {
    border-radius: 5px;
    display: inline-flex;
    background-color: white;
    width: 108px;
    height: 380px;
    margin-bottom: 10px;
    margin-top: 10px;
    box-shadow: 0px -25px #BCBDBF inset;
}

#b5 {
    border-radius: 5px;
    display: inline-flex;
    background-color: white;
    width: 108px;
    height: 380px;
    margin-bottom: 10px;
    margin-top: 10px;
    box-shadow: 0px -25px #BCBDBF inset;
}

#b6 {
    border-radius: 5px;
    display: inline-flex;
    background-color: white;
    width: 108px;
    height: 380px;
    margin-bottom: 10px;
    margin-top: 10px;
    box-shadow: 0px -25px #BCBDBF inset;
}

#b7 {
    border-radius: 5px;
    display: inline-flex;
    background-color: white;
    width: 108px;
    height: 380px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 10px;
    box-shadow: 0px -25px #BCBDBF inset;
}
